{% extends 'base.html' %}

{% block title %}Liste des Tags{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Liste des Tags</h2>
    <ul class="list-group">
        {% for tag in tags %}
            <li class="list-group-item">
                <a href="{% url 'contenu_par_tag' tag.id %}" class="text-primary">{{ tag.nom }}</a>
            </li>
        {% empty %}
            <li class="list-group-item text-muted">Aucun tag disponible.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
